{% extends "base.html" %}
{% block title %}Home - 현직{% endblock %}
{% block content %}
  <div class="container text-center mt-5 mb-5">
    <h1>Hello, I am 현직</h1>
    <p class="lead">
        Backend Developer / Python Developer /<br>
        무대음향1급 / 무대조명3급
    </p>
</div>

  <div class="container mt-5 text-center">
    <h3>Projects Portfolio</h3>
    <div id="projectsCarousel" class="carousel slide mt-4" data-bs-ride="carousel">
      <div class="carousel-inner">
        {% for project in projects if project.main %}
        <div class="carousel-item {% if loop.first %}active{% endif %}">
          <div class="card shadow-lg mx-auto" style="max-width:700px;">
            <img src="/static/images/{{ project.image }}" class="card-img-top" alt="{{ project.title }}">
            <div class="card-body text-center">
              <h4 class="card-title">{{ project.title }}</h4>
              <p class="card-text text-muted">{{ project.desc | safe }}</p>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#projectsCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#projectsCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    <div class="mt-4">
      <a href="{{ url_for('projects_page') }}" class="btn btn-primary">More Projects</a>
    </div>
  </div>
{% endblock %}